# Listen on localhost on the specified port
:{$FOXGLOVE_PORT} {
    root * /src

	templates {
		mime "application/json" "text/plain"
	}

    file_server browse

	@urdf path /*.urdf

    header @urdf {
        Content-Type "text/plain"
    }

    header {
        # get rid of CORS error
        Access-Control-Allow-Origin *
        Access-Control-Allow-Credentials true
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
        defer
        # Disable caching
        Cache-Control "no-cache, no-store, must-revalidate"
    }
}
