# Listen on localhost on the specified port
:{$UI_PORT} {
	tls internal

	root * /src

	redir /ui /?ds={$DS_TYPE}&ds.url=ws%3A%2F%2F{http.request.host}%3A{$DS_PORT}

	templates {
		mime "application/json" "text/plain"
	}

	file_server browse

	@urdf path /*.urdf

	header @urdf {
		Content-Type "text/plain"
	}
}
