@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

body {
  /* https://coolors.co/f06449-ede6e3-7d82b8-36382e-613f75  */
  --background-color: #ede6e3;
  --joystick-color: #888;
  --joystick-head-color: #f64;
  --text-color: #210124;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
}

#center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#game {
  display: grid;
  grid-template-columns: auto 100px 100px;
  grid-template-rows: auto 1fr;
  gap: 50px;
}

#joystick {
  position: relative;
  background-color: var(--joystick-color);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 50px;
  grid-row: 2;
}

#joystick::before {
  content: "";
  width: 104%;
  height: 104%;
  border-radius: 50%;
  background-image: linear-gradient(var(--rotate), #5dffdc, #3ce367 43%, #4ec200);
  position: absolute;
  z-index: -1;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
    transform: scale(1);
  }
  50% {
    --rotate: 180deg;
    transform: scale(1.02);
  }
  100% {
    --rotate: 360deg;
    transform: scale(1);
  }
}

#joystick-head {
  position: relative;
  background-color: var(--joystick-head-color);
  border-radius: 50%;
  width: 130px;
  height: 130px;
  cursor: grab;

  animation: glow 0.6s alternate infinite;
}

@keyframes glow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.joystick-arrow:nth-of-type(1) {
  position: absolute;
  bottom: 335px;

  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;

  border-bottom: 40px solid var(--joystick-color);
}

.joystick-arrow:nth-of-type(2) {
  position: absolute;
  top: 335px;

  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;

  border-top: 40px solid var(--joystick-color);
}

.joystick-arrow:nth-of-type(3) {
  position: absolute;
  left: 335px;

  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;

  border-left: 40px solid var(--joystick-color);
}

.joystick-arrow:nth-of-type(4) {
  position: absolute;
  right: 335px;

  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;

  border-right: 40px solid var(--joystick-color);
}

#note {
  grid-row: 3;
  text-align: center;
  font-size: 2em;
  border-top: 40px solid transparent;
}

.slider {
  height: 100%;
  display: flex;
  grid-column: 2;
  grid-row: 2;
  position: relative;
  justify-content: center;
  margin: 10px 50px;
}
