@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

body {
  /* https://coolors.co/f06449-ede6e3-7d82b8-36382e-613f75  */
  --background-color: #ede6e3;
  --joystick-color: #888;
  --joystick-head-color: #f64;
  --text-color: #210124;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
}

#content {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joystick-panel {
  flex: 1;
  max-width: 800px;
  padding: 50px;
  text-align: center;
}


#joystick {
  position: relative;
  background-color: var(--joystick-color);
  border-radius: 50%;
  width: 270px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 50px;
}

#joystick::before {
  content: "";
  width: 104%;
  height: 104%;
  border-radius: 50%;
  background-image: linear-gradient(var(--rotate), #5dffdc, #3ce367 43%, #4ec200);
  position: absolute;
  z-index: -1;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
    transform: scale(1);
  }
  50% {
    --rotate: 180deg;
    transform: scale(1.02);
  }
  100% {
    --rotate: 360deg;
    transform: scale(1);
  }
}

#joystick-head {
  position: relative;
  background-color: var(--joystick-head-color);
  border-radius: 50%;
  width: 115px;
  height: 115px;
  cursor: grab;

  animation: glow 0.6s alternate infinite;
}

@keyframes glow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.joystick-arrow:nth-of-type(1) {
  position: absolute;
  bottom: 295px;

  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;

  border-bottom: 35px solid var(--joystick-color);
}

.joystick-arrow:nth-of-type(2) {
  position: absolute;
  top: 295px;

  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;

  border-top: 35px solid var(--joystick-color);
}

.joystick-arrow:nth-of-type(3) {
  position: absolute;
  left: 295px;

  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;

  border-left: 35px solid var(--joystick-color);
}

.joystick-arrow:nth-of-type(4) {
  position: absolute;
  right: 295px;

  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;

  border-right: 35px solid var(--joystick-color);
}

#joy-note {
  position: absolute;
  text-align: center;
  font-size: 2em;
  border-top: 35px solid transparent;
  top: 315px;
}

.slider-panel {
  flex-direction: column;
  width: 200px;
}

.slider {
  display: flex;
  position: relative;
  justify-content: center;
  appearance: slider-vertical;
  width: 100px;
  height: 225px;
}

.note {
  font-size: 2em;
  position: relative;
  top: 20px;
}
